#container{
    width : 800px;
    height : 600px;
    margin : 0 auto;
}

#header{
    width : 800px;
    height : 100px;
}
    #header1{
        height : 100%;
        width : 20%;
        float : left;
         
    }
    #header2{
        height : 100%;
        width : 65%;       
        float : left;
    }
    #logo, #centerlogo{
        width : 90%;
        height : 90%;
    }
    
    #nav{
       --width : 100%;
        height : 30px;
        --background-color: salmon;
    }
        ul{
            
            margin : 0;
            padding : 0;
            height : 100%;
            
        }
        li{
            float : left;
            list-style-type: none;
            width : 25%;
            text-align: center;
            line-height : 30px;
            background-color: rgb(100, 173, 21);

        }
            a{
                margin : 0 0;
                --padding : 5px 10px;
                width : 100%;
                height : 30px;
                text-decoration: none;
                display:block;
            }
            a:link, a:visited{ /*link그냥있을때, visited 눌렀을때*/
                color : whitesmoke;
            }
            a:hover{
                background-color: rgb(138, 155, 113);
                color: #fff;
            }

    #left{
        width : 120px;
        height : 400px;
        --background-color: antiquewhite;
        float : left;
        background-image: url(../gogreens/left_img.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        
        
    }
    #center{
        width : 500px;
        height : 400px;
        float : left;
        font-size: small;
    }
        #img-top{
            width : 100%;
            height : 50%;
            padding : 2px 0;
        }
        #photo1, #photo2{
            width : 50%;
            float : left;
            text-align: center;
            
            }
        #img-bottom{
            width : 100%;
            height : 50%;
        }
        #photo3, #photo4{
            width : 50%;
            float : left;
            text-align: center;
            }
       

    #right{
        width : 180px;
        height : 400px;
        --background-color: antiquewhite;
        float : left;
    }
        #login{
            width : 100%;
            height : 25%;
        }
            table{
                padding : 10px 0;
            }
            #login-btn{
                height : 48px;
                background-color: rgb(100, 173, 21);
                border : 1px solid grey;
                border-radius: 10%;
                color : whitesmoke;
            }
           #text-area{
            background-color: rgb(100, 173, 21);
            font-size: small;
           }
        #banner{
            background-image: url(../gogreens/right_img.jpg);
            background-repeat: no-repeat;
            background-size: contain;
            --width : 100%;
            height : 50%;
        }
        #userbla{
            background-image: url(../gogreens/me_chat.jpg);
            background-repeat: no-repeat;
            background-size: contain;
            height : 100%;
        }    
        
    #footer{
        width : 100%;
       -- height : 100px;

    }