#header{
    height : 100px;
    width : 100%;
}
    #header1{
        height : inherit;
        width : 20%;
        float : left;
        background-color: salmon;
    }
    #header2{
        height : inherit;
        width : 60%;
        float : left;
        background-color: saddlebrown;
    }
    #header3{
        height : inherit;
        width : 20%;
        float : right;
        background-color: salmon;
    }
#main{
    height : 400px;
    width : 100%;
}    
    #main1{
        height : inherit;
        width : 15%;
        background-color: coral;
        float : left;
    }
    #main2{
        height : inherit;
        width : 60%;
        background-color: wheat;
        float : left;
    }
    #main3{
        height : inherit;
        width : 25%;
        background-color: sandybrown;
        float : right;
    }
#footer{
    height : 100px;
    width : 100%;
    background-color: rosybrown;
}    