#container{
    width : 520px;
    border : 1px solid black;
    margin : 0 auto; /*필드셋 반응형 가운데로*/
    padding : 10px 30px; /*필드셋 안 위아래 왼오 여백*/

}

ul{
    list-style-type : none;
}
li{
    margin : 10px 0px;
    --line-height : 20px;
}
#private-info li label{
    width: 80px;
    text-align: left;
    float: left;
}