.container{
    border : 1px solid #ccc;
    width : 500px;
    padding : 10px;
    margin : 20px auto; /*20px이 위아래값, auto값이 양옆값이라 가운데로 옴*/
}
ul{
    list-style-type : none; /*불렛기호 없애기!*/
}
li{
    line-height : 2.0;
}
.subject{
    color : rgb(133, 75, 42);
    font-weight : 700;
    font-size : larger;
}
