ul{
    list-style-type: none;
    padding-left : 0;
}
li{
    margin : 10px;
}
input[type=text], input[type=email], input[type=tel]{
    width : 300px;
}

#shipping li label{
    width : 80px;
    text-align : left; /*글씨는 입력란 제하고 왼쪽으로*/
    float : left; /*글씨영역의 80px만큼 left로 붙음*/
}