@font-face {
    font-family: 'PyeongChangPeace-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChangPeace-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
*{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
}
#container{
    --background-color: bisque;
    width : 900px;
    height : 600px;
    margin : 10px auto;
    padding-bottom : 20px;
    padding-left : 30px;
    
}
#logo{
    font-family: "PyeongChangPeace-Bold";
    font-size: 5em;
    text-shadow: -1px 0 #fff, 0 -1px #fff, -1px 0 #fff, 0 -1px #fff;
    margin-right : 20px;
    float : left;
    
}
ul{
    list-style-type: none;
}
#idpw{
    float : left;
    width : 320px;
    margin-top : 65px;
}

li.input{
    width : 45%;
    float: left;
    display : flex;
    justify-content: space-around;
}
.input input{
    width : 100px;
    --border: none;
    border-top-width: 0;
    border-right-width: 0;
    border-left-width: 0;
    border-bottom-width: 1 solid;
}
nav{
    width : 100%;
    clear:both; /*겹침 해결!!*/
    line-height: 15px;
    font-size: 0.8em;
}
#menus{
    width : 95%;
    display: flex;
    justify-content: space-around;
}
.menu{
    float : left;
}
p{
    display: flex;
    justify-content: center;
}

main{
    height : 70%;
    padding: 20px;
}

footer div{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 0.7em;
    color : grey;
}